beautifulsoup4 == 4.9.3
lxml == 4.6.2
requests == 2.25.1
PySide2 == 5.15.2
pandas == 1.2.0
jieba == 0.42.1
tensorflow == 2.4.0
tensorflow_hub == 0.10.0
tensorflow_text == 2.4.2
tf-models-official == 2.3.0
